<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Contacto
              <small>Jemli</small>
          </h1>
          <ol class="breadcrumb">
              <li><a href="/">Inicio</a>
              </li>
              <li class="active">Contact</li>
          </ol>
      </div>
  </div>
  

  <div class="row">
    <!-- Map Column -->
    <div class="col-md-8">
        <!-- Embedded Google Map -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3507.464695648865!2d-16.252942984921177!3d28.465548882484057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8a54dc34cc2d2543!2sCentro+de+Arte+la+Recova!5e0!3m2!1ses!2sus!4v1457265465095" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <!-- Contact Details Column -->
    <div class="col-md-4">
        <h3>Detalles de contacto</h3>
        <p>
            Plaza Isla de la Madera, s/n, 38003<br>S/C de Tenerife, España<br>
        </p>
        <p><i class="fa fa-phone"></i> 
            <abbr title="Phone">T</abbr>: </p>
        <p><i class="fa fa-envelope-o"></i> 
            <abbr title="Email">E</abbr>: <a href="mailto:name@example.com">correo@correo.com</a>
        </p>
        <ul class="list-unstyled list-inline list-social-icons">
            <li>
                <a href="https://es-es.facebook.com/Startupweekendtenerife"><i class="fa fa-facebook-square fa-2x"></i></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/company/398488?trk=vsrp_companies_res_name&trkInfo=VSRPsearchId%3A3705316591457265919502%2CVSRPtargetId%3A398488%2CVSRPcmpt%3Aprimary"><i class="fa fa-linkedin-square fa-2x"></i></a>
            </li>
            <li>
                <a href="https://twitter.com/SWTenerife?lang=es"><i class="fa fa-twitter-square fa-2x"></i></a>
            </li>
            <li>
                <a href="https://plus.google.com/communities/104678432413494025574/stream/af809be5-bf41-47ab-9322-564c72be56db"><i class="fa fa-google-plus-square fa-2x"></i></a>
            </li>
        </ul>
    </div>
  </div>


<!-- 
<div class="row">
  <div class="col-md-8">
    <h3>Escriba su mensaje</h3>
    <form name="sentMessage" id="contactForm" novalidate>
      <div class="control-group form-group">
        <div class="controls">
          <label>Nombre:</label>
          <input type="text" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
          <p class="help-block"></p>
        </div>
      </div>
      <div class="control-group form-group">
        <div class="controls">
          <label>Teléfono:</label>
          <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
        </div>
      </div>
      <div class="control-group form-group">
        <div class="controls">
          <label>Correo:</label>
          <input type="email" class="form-control" id="email" required data-validation-required-message="Please enter your email address.">
        </div>
      </div>
      <div class="control-group form-group">
        <div class="controls">
          <label>Mensaje:</label>
          <textarea rows="10" cols="100" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
        </div>
      </div>
      <div id="success"></div>
      <button type="submit" class="btn btn-primary">Enviar mensaje</button>
    </form>
  </div>
</div>
-->

<hr>
