<!DOCTYPE html>
<html lang="es">

<head>
	<meta content="text/html, charset=utf-8" http-equiv="Content-Type"/>

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/custom.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
  <link href="css/modern-business.css" rel="stylesheet">
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<title> Jelmi</title>
</head>

<body>
	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top specialcolor" role="navigation">
  	<div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
      	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        	<span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="resources/logo.png" alt="Inicio"</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      	<ul class="nav navbar-nav navbar-right">
        	<li><a href="#">Servicios</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Entrar</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
  	</div>
  	<!-- /.container -->
	</nav>
	
	<%= yield %>

	<!-- Footer -->
	<footer>
	  <div class="row-fluid center">
	  	<div class="col-md-4"><a href="#">Equipo</a></div>
		  	<div class="col-md-4">
		   		<a href="https://twitter.com/SWTenerife?lang=es"><img src="resources/twitter_icon.png"></a>
					<a href="https://es-es.facebook.com/Startupweekendtenerife"><img src="resources/facebook_icon.png"></a>
					<a href="https://plus.google.com/communities/104678432413494025574/stream/af809be5-bf41-47ab-9322-564c72be56db"><img src="resources/google_icon.png"></a>
				</div>
			<div class="col-md-4"><a href="#">Contacto</a></div>
	  </div>
	</footer>

</body>

</html>